*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("watercolor-5062356_1280.webp");
    
   
    

    
    
     
    
    }
    
    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 10px;
    
    margin-right:10px;
    
    background-image: url("");
    
    }
    
    
    
    .textotecno{
    
    text-align:center;
    
    color: rgb(0, 0, 0);
    
    font-size: 50px;
    
    
    
    }

    

    
     
    
    .imagenmate{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textomate{
    
    text-align: justify;
    
    color: rgb(0, 0, 0);
    
    font-size: 20px;
    
    
    
    }
    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagenbio{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
    
    }
    
    
    
    .textobio{
    
    text-align: center;
    
    color: rgb(0, 0, 0);
    
    font-size: 50px;
    
    
    
    }


    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagening{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .textoing{
        
        text-align: center;
        
        color: rgb(0, 0, 0);
        
        font-size: 50px;
        
        
        
        }


        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagenetica{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("medellin.jpeg");
            
            }
            
            
            
            .textoetica{
            
            text-align: center;
            
            color: rgb(0, 0, 0);
            
            font-size: 50px;
            
            
            
            }
           

            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .imagenreligion{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("medellin.jpeg");
                
                }
                
                
                
                .textoreligion{
                
                text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 20px;
                
                
                
                }

               
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagensociales{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textosociales{
    
text-align: center;
    
    color: rgb(0, 0, 0);
    
    font-size: 50px;
    
    
    
    }
    